<h1>Do you want to play rock paper scissors?</h1>
<p>Pick your move:</p>
<ul>
	<li>
		<a href="/throw/rock"><img src="images/rock.png"></a>
	</li>
	<li>
		<a href="/throw/paper"><img src="images/paper.png"></a>
	</li>
	<li>
		<a href="/throw/scissors"><img src="images/scissors.png"></a>
	</li>
</ul>
