<h2>Do you want to play rock paper scissors?</h2>
<p>Pick your move:</p>
<ul>
	<li>
		<a href="/throw/rock">Rock</a>
	</li>
	<li>
		<a href="/throw/paper">Paper</a>
	</li>
	<li>
		<a href="/throw/scissors">Scissors</a>
	</li>
</ul>