<h1>To pass through my cave you must beat me at rock, paper, scissors. If you win you are free to go, but if you lose I'll cook you into a stew! So, wanna you play?</h1>
<div class="moves">
  <div class="hand-wrapper">
	  <a href="/throw/rock"><img src="images/rock_white.png" class="hand"></a>
  </div>
  <div class="hand-wrapper">
	  <a href="/throw/paper"><img src="images/paper_white.png" class="hand"></a>
  </div>
	<div class="hand-wrapper">
		<a href="/throw/scissors"><img src="images/scissors_white.png" class="hand"></a>
	</div>
</div>

