<style>
  .story p, h1 {
    color: black;
    text-align: left;
  }
</style>
<img src="/images/cave_mouth.jpg" id="background"/>
<div id="wrapper">
  <div class=<%= @rock %>>
    <h1>Two Large Stones</h1>
    <p>
      Two large stones sat on the side of the hill. Grass and flowers grew there.</br>
      “This side of the hill is nice,” said the first stone, “but I wonder what is on the other side of the hill.”</br>
      “We do not know and we never will,” said the second stone.
    </p>
    <p>
      One day a bird flew down.</br>
      “Bird, can you tell us what is on the other side of the hill?” asked the stones.</br>
      Bird flew up into the sky. He flew high over the hill, came back and said, “I can see towns and castles and I can see mountains and valleys. It is a wonderful sight.”</br>
      The first stone said, “All those things on the other side of the hill.”</br>
      “How sad,” said the second stone, “We cannot see them, we never will.”</br>
      Two stones sat on the side of the hill.</br>They felt sad for one hundred years.
    </p>
    <p>
      One day a mouse walked by.</br>
      “Mouse, can you tell us what is on the other side of the hill?” asked the stones.</br>
      The mouse climbed up the hill, put his nose over the top and looked down.</br>
      He came back and said, “I can see earth and stones. I can see grass and flowers. It is a wonderful sight.”</br>
      The first stone said, “The bird told us a lie. That side of the hill just looks the same as this side of the hill.”</br>
      “Oh good,” said the second stone, “We feel happy now, we always will.”
    </p>
    <p>
      The End.
    </p>
  </div>
  <div class=<%= @paper %>>
    <h1>The Letter</h1>
    <p>
      Toad was sitting on his front porch.</br>
      Frog came along and said “What is the matter Toad? You are looking sad.”</br>
      “Yes,” said Toad, “This is my sad time of day. It is the time when I wait for the mail to come. It always makes me very unhappy.”</br>
      “Why is that?” asked Frog.</br>
      “Because I never get any mail,” said Toad.</br>
      “Not ever?” asked Frog.</br>
      “Not ever,” said Toad.</br>
      “No one has ever sent--”</br>
      “No one has ever sent me a letter. Every day my mailbox is empty. That is why waiting for the mail is a sad time for me.”
      Frog and Toad sat on the porch feeling sad together.
    </p>
    <p>
      Then Frog said, “I have to go home now, Toad. There is something I must do.”</br>
      Frog hurried home. He found a pencil and piece of paper. He wrote on the paper. He put the paper in an envelope. On the envelope he wrote “A Letter for Toad”.</br>
      Frog ran out of his house. He saw a snail that he knew.</br>
      “Snail,” said Frog, “please take this letter to Toad’s house and put it in his mailbox.”</br>
      “Sure,” said the snail, “right away.”</br>
      Then Frog ran back to Toad’s house.
      Toad was in bed taking a nap.
    </p>
    <p>
      “Toad,” said Frog, “I think you should get up and wait for the mail some more.”</br>
      “No,” said Toad, “I am tired from waiting for the mail.”</br>
      Frog looked out of the window at Toad’s mailbox. The snail was not there yet.</br>
      “Toad,” said Frog, “you never know when someone may send you a letter.”</br>
      “No, no,” said Toad, “I do not think anyone will ever send me a letter.”</br>
      Frog looked out of the window. The snail was not there yet.</br>
      “But Toad,” said Frog, “someone may send you a letter today.”</br>
      “Don’t be silly,” said Toad, “No one has ever sent me a letter before and no one will send me a letter today.”</br>
      Frog looked out of the window. The snail was still not there.</br>
      “Frog, why do you keep looking out of the window?” asked Toad.</br>
      “Because now I am waiting for the mail,” said Frog.</br>
      “But there will not be any,” said Toad.</br>
      “Oh yes there will,” said Frog, “because I have sent you a letter.”</br>
      “You have?” said Toad, “What did you write in the letter?”</br>
      “I wrote ‘Dear Toad, I am glad that you are my best friend.’”</br>
      “Your best friend, Frog? Oh,” said Toad, “that makes a very good letter.”</br>
      Then Frog and Toad went out onto the front porch to wait for the mail. They sat there feeling happy together.
    </p>
    <p>
      Frog and Toad waited a long time.</br>
      Four days later the snail got to Toad’s house and gave him the letter from Frog.
      Toad was very pleased to have it.
    </p>
    <p>
      The End.
    </p>
  </div>
  <div class=<%= @scissors %>>
    <h1>The Letter</h1>
    <p>
      Toad was sitting on his front porch.</br>
      Frog came along and said “What is the matter Toad? You are looking sad.”</br>
      “Yes,” said Toad, “This is my sad time of day. It is the time when I wait for the mail to come. It always makes me very unhappy.”</br>
      “Why is that?” asked Frog.</br>
      “Because I never get any mail,” said Toad.</br>
      “Not ever?” asked Frog.</br>
      “Not ever,” said Toad.</br>
      “No one has ever sent--”</br>
      “No one has ever sent me a letter. Every day my mailbox is empty. That is why waiting for the mail is a sad time for me.”
      Frog and Toad sat on the porch feeling sad together.
    </p>
    <p>
      Then Frog said, “I have to go home now, Toad. There is something I must do.”</br>
      Frog hurried home. He found a pencil and piece of paper. He wrote on the paper. He put the paper in an envelope. On the envelope he wrote “A Letter for Toad”.</br>
      Frog ran out of his house. He saw a snail that he knew.</br>
      “Snail,” said Frog, “please take this letter to Toad’s house and put it in his mailbox.”</br>
      “Sure,” said the snail, “right away.”</br>
      Then Frog ran back to Toad’s house.
      Toad was in bed taking a nap.
    </p>
    <p>
      “Toad,” said Frog, “I think you should get up and wait for the mail some more.”</br>
      “No,” said Toad, “I am tired from waiting for the mail.”</br>
      Frog looked out of the window at Toad’s mailbox. The snail was not there yet.</br>
      “Toad,” said Frog, “you never know when someone may send you a letter.”</br>
      “No, no,” said Toad, “I do not think anyone will ever send me a letter.”</br>
      Frog looked out of the window. The snail was not there yet.</br>
      “But Toad,” said Frog, “someone may send you a letter today.”</br>
      “Don’t be silly,” said Toad, “No one has ever sent me a letter before and no one will send me a letter today.”</br>
      Frog looked out of the window. The snail was still not there.</br>
      “Frog, why do you keep looking out of the window?” asked Toad.</br>
      “Because now I am waiting for the mail,” said Frog.</br>
      “But there will not be any,” said Toad.</br>
      “Oh yes there will,” said Frog, “because I have sent you a letter.”</br>
      “You have?” said Toad, “What did you write in the letter?”</br>
      “I wrote ‘Dear Toad, I am glad that you are my best friend.’”</br>
      “Your best friend, Frog? Oh,” said Toad, “that makes a very good letter.”</br>
      Then Frog and Toad went out onto the front porch to wait for the mail. They sat there feeling happy together.
    </p>
    <p>
      Frog and Toad waited a long time.</br>
      Four days later the snail got to Toad’s house and gave him the letter from Frog.
      Toad was very pleased to have it.
    </p>
    <p>
      The End.
    </p>
  </div>
  <a href="/">Play again.</a>
</div>