html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#background {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#wrapper {
  position: relative;
  width: 70%;
  min-height: 400px;
  margin: 15% auto;
}

h1, h2, p, a {
	font-family: 'Cantata One', serif;
	text-align: center;
  color: white;
  opacity: 0.5;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

.moves {
  width: 70%;
	margin: 10% auto;
}

.hand-wrapper {
  display: inline-block;
}

.hand {
  max-height: 250px;
  margin: 30px;
}





